
.DS_Store

4_expanding_rings_flipped/ring_01.png

4_expanding_rings_flipped/ring_02.png

4_expanding_rings_flipped/ring_03.png

4_expanding_rings_flipped/ring_04.png

4_expanding_rings_flipped/ring_05.png

4_expanding_rings/ring_01.png

4_expanding_rings/ring_02.png

4_expanding_rings/ring_03.png

4_expanding_rings/ring_04.png

4_expanding_rings/ring_05.png

data/logdata_LGN_prf_fixed-bar_sub_1_run_1_20250611_1412.csv

data/logdata_LGN_prf_fixed-bar_sub_1_run_1_20250611_1555.csv

data/logdata_LGN_prf_log-bar_sub_1_run_1_20250611_1503.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1045.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1050.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1052.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1054.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1104.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1155.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250612_1201.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250613_1502.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250613_1516.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250613_1527.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-bar_20250616_1137.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-ring_20250617_1203.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-ring_20250617_1206.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-ring_20250617_1305.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-ring_20250619_1638.csv

data/logdata_LGN_prf_sub_1_run_1_eccentricity-ring_20250620_1109.csv

data/logdata_LGN_prf_sub_1_run_1_fixed-bar_20250612_1000.csv

data/logdata_LGN_prf_sub_1_run_1_log-eccentricity-bar_20250612_1121.csv

data/logdata_LGN_prf_sub_1_run_1_log-eccentricity-bar_20250612_1159.csv

data/logdata_LGN_prf_sub_99_run_1_eccentricity-ring_20250619_1629.csv

refresh_test.py

refresh_test2.py

run_prf.py
